
2022年秋本科ML笔记.pdf
机器学习_七次作业汇总.pdf
深入浅出PyTorch__从模型到源码- 快捷方式.lnk
kmeans/mdpic/KNN_self.pptx
kmeans/KNN.html
kmeans/j.ipynb
notebook/.ipynb_checkpoints/chap00-引言-checkpoint.ipynb
linear/normallinear/__pycache__/params.cpython-312.pyc
机器学习_13974463.pdf - 快捷方式.lnk
conv/AlexNetmy/__pycache__/showdatasets.cpython-37.pyc
/conv/data/MNIST
